[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
moto = "*"

[packages]
kafka-python = "*"
boto3 = "*"
watchtower = "*"
logstash-formatter = "*"
botocore = "*"

[requires]
python_version = "3.7"
