app_common_python==0.2.3
attr==0.3.2
attrs==21.2.0
boto3==1.24.89
botocore==1.27.89
confluent_kafka==1.9.2
Flask==2.2.2
logstash_formatter==0.5.17
prometheus_client==0.14.1
PyYAML==6.0
setuptools==65.3.0
watchtower==3.0.0
