attrs==18.2.0
boto3==1.12.38
botocore==1.15.49
confluent-kafka==1.5.0
docutils==0.15.2
entrypoints==0.3
flake8==3.7.9
importlib-metadata==1.6.0
#git+ssh://git@github.com:RedHatInsights/insights-storage-broker@9f7a08dd9edb94ab2e0fe048e4b400692faa9803#egg=insights_storage_broker
jmespath==0.9.5
mccabe==0.6.1
more-itertools==8.2.0
packaging==20.3
pluggy==0.13.1
prometheus-client==0.7.1
py==1.8.1
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.7
pytest==5.4.2
python-dateutil==2.8.1
PyYAML==5.3.1
s3transfer==0.3.3
six==1.14.0
urllib3==1.25.9
wcwidth==0.1.9
zipp==3.1.0
app-common-python==0.1.2
